*.hdf5 filter=lfs diff=lfs merge=lfs -text
elmo/elmo_2x1024_128_2048cnn_1xhighway_weights.hdf5 filter=lfs diff=lfs merge=lfs -text
elmo/elmo_token_embeddings-2.hdf5 filter=lfs diff=lfs merge=lfs -text
